figure {
    margin-left: 0px;
    margin-right: auto;
}

.testata {
    background-color: rgb(156, 221, 231);
    margin: -20px;
    margin-bottom: 50px;
}

.testata .logo-testata {
    width: 200px;
    padding: 50px 20px;
}

.titolo {
    margin-bottom: 0px;
}

.sottosezione-titolo {
    margin-top: 0px;
    background-color: 255;
}

.lee-one {
    display: inline-block;
}

.sottosezione-foto {
    font-size: 10px;
    margin-top: 0px;
}

.lorem {
    font-weight: lighter;
}

ul {
    padding-inline-start: 15px;
}

table {
    margin-bottom: 20px;
}

td {
    width: 10%;
    height: 10px;
}

.line-one {
    background-color: rgb(102, 142, 250);
    color: white;
    text-align: left;
}

.subline {
    background-color: rgb(202, 218, 233);
}

footer {
    background-color: rgb(40, 40, 78);
    text-align: center;
    color: white;
    padding: 5px;
}
