/* REGOLE DI RESET */
body {
    margin: 0px;
}

/* HEADER */
.header-section {
    background-color: #9CD6F4;
}

.header-section .logo-header {
    height: 60px;
    padding: 50px;
    padding-left: 30px;
}

/* MAIN */

.article {
    padding: 30px;
}

.title-selection {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.subsection-title {
    margin-top: 0px;
    color: #8A9BBC;
}
    
a {
    text-decoration: none;
}

.article a {
    color: #9AD4FF;
}

figure {
    margin: 0px;
}

.lorem {
    font-weight: lighter;
}

ul {
    padding-inline-start: 15px;
}

.article .table {
    width: 100%;
    margin-bottom: 20px;
}

.line-one {
    background-color: #7FA6FB;
    color: white;
    text-align: left;
}

.line-two {
    background-color: #DFE5F2;
}

.width-25 {
    width: 25%;
}

/* FOOTER */
.footer-section {
    background-color: #313A6B;
    text-align: center;
    color: white;
    padding: 5px 10px;
}
