.testata {
    background-color: rgb(156, 221, 231);
    margin: -10px;
    margin-bottom: 50px;
}

.testata .logo-testata {
    width: 200px;
    padding: 50px 10px;
}

.titolo {
    margin-bottom: 0px;
}

.sottosezione-titolo {
    margin-top: 0px;
    background-color: 255;
}

.lee-one {
    display: inline-block;
}

.sottosezione-foto {
    margin-top: 0px;
}

.lorem {
    font-weight: lighter;
}

ul {
    padding-inline-start: 15px;
}

